<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registerStyle.css">
</head>

<body>
    <div class="wrap">
        <h1>Sign Up</h1>
        <div class="signingUp">

            <div class="sign">
                <h3>Username</h3>
                <input type="text" placeholder="Enter your name" id="name">
            </div>

            <div class="pass">
                <h3>Password</h3>
                <input type="password" placeholder="Enter the password" id="password">
            </div>

            <div class="emailNow">
                <h3>Email</h3>
                <input type="text" placeholder="Enter the email" id="email">
            </div>

            <div class="bParent">
                <button id="register">signup</button>
            </div>

        </div>
    </div>

    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/registerS.js"></script>
    
</body>

</html>