<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="wrapper">

        <div id="header">

            <div id="plan">
                <h1>THE PLANETS</h1>
            </div>

            <div id="planetName">
                <p class="p">MERCURY</p>
                <P class="p">VENUS</P>
                <P class="p">EARTH</P>
                <P class="p">MARS</P>
                <P class="p">JUPITER</P>
                <P class="p">SATERN</P>
                <P class="p">URANUS</P>
                <P class="p">NEPTUNE</P>
            </div>

        </div>

        <div id="middlePortion">

            <div id="planetImage">
                <img src="" id="image">
            </div>

            <div id="about">
                <h1 id="pName"> MERCURY</h1>
                <p id="content">Mercury is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. Mercury is one of four terrestrial planets in the Solar System, and is a rocky body like Earth.</p>
                <p id="sourceWiki">Source : wikipedia</p>

                <div class="buttonDiv">
                    <button id="firstPage">01 OVERVIEW</button>
                    <button id="secondPage">02 INTERNAL STRUCTURE</button>
                    <button id="thirdPage">03 SURFACE GEOLOGY</button>
                </div>
            </div>

        </div>

        <div id="footer">

            <div id="rotateTime" class="planetAbout">
                <h5>ROTATION TIME</h5>
                <h1 id="rotation"></h1>
            </div>

            <div id="revolutionTime" class="planetAbout">
                <h5>REVOLUTION TIME</h5>
                <h1 id="revolution"></h1>
            </div>

            <div id="radius" class="planetAbout">
                <h5>RADIUS</h5>
                <h1 id="radi"></h1>
            </div>

            <div id="averageTemp" class="planetAbout">
                <h5>AVERAGE TEMP</h5>
                <h1 id="temp"></h1>
            </div>

        </div>

    </div>

    <script src="js/planet.js"></script>

</body>

</html> -->