<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <div id="header">

            <div id="plan">
                <h1>THE PLANETS</h1>
            </div>

            <div id="planetName">
                <p class="p">MERCURY</p>
                <P class="p">VENUS</P>
                <P class="p">EARTH</P>
                <P class="p">MARS</P>
                <P class="p">JUPITER</P>
                <P class="p">SATURN</P>
                <P class="p">URANUS</P>
                <P class="p">NEPTUNE</P>
            </div>

        </div>

        <div id="middlePortion">

            <div id="planetImage">
                <img src="" id="image">
            </div>

            <div id="about">
                <h1 id="pName"> </h1>
                <p id="content"></p>
                <p id="sourceWiki">Source :<a href="" id="sourceNow"> wikipedia</a></p>

                <div class="buttonDiv">
                    <button id="firstPage">01  <span>OVERVIEW</span></button>
                    <button id="secondPage">02   <span>INTERNAL STRUCTURE</span></button>
                    <button id="thirdPage">03  <span>SURFACE GEOLOGY</span></button>
                </div>
            </div>

        </div>

        <div id="footer">

            <div id="rotateTime" class="planetAbout">
                <h5>ROTATION TIME</h5>
                <h1 id="rotation"></h1>
            </div>

            <div id="revolutionTime" class="planetAbout">
                <h5>REVOLUTION TIME</h5>
                <h1 id="revolution"></h1>
            </div>

            <div id="radius" class="planetAbout">
                <h5>RADIUS</h5>
                <h1 id="radi"></h1>
            </div>

            <div id="averageTemp" class="planetAbout">
                <h5>AVERAGE TEMP</h5>
                <h1 id="temp"></h1>
            </div>

        </div>

    </div>

    <script src="js/planet.js"></script>

</body>

</html>